@model Pitcher.Models.Registration
@{
    ViewData["Title"] = "Registrations";
}   
<h1>Registrations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@section scripts{ 
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script>    
    $(document).ready(function() {
    var editor = new $.fn.dataTable.Editor( {
        ajax: "/registrations/table",      
        table: "#registrationTable",   
        fields: [ {
                label: "Registration Date:",
                name: "Registration.RegistrationDate"
            }, {
                label: "User:",
                name: "User.UserFullname"
            }, {
                label: "Job:",
                name: "Job.JobTitle",
                type: "select"
            }
        ]
    } );

    $('#registrationTable').DataTable({
        dom: "Bfrtip",
        ajax: {
            url: "registrations/table",
            type: 'POST'
        },
        columns: [
            {data: "Registration.RegistrationDate"},
            {data: "User.UserFullname"},
            {data: "Job.JobTitle"}
        ],
        select: true,
        buttons: [
            { extend: "/Registrations/Details/", editor: editor },
            { extend: "/Registrations/Edit",   editor: editor },
            { extend: "/Registrations/Delete", editor: editor }
        ]
    } );
} );
    </script>
}