@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link href="~/css/bootstrap_home.css" rel="stylesheet" />
<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PITCHER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Problems" asp-action="Index">Problems</a>
                        </li>                                              
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Jobs" asp-action="Index">Jobs</a>
                        </li>                        
                    </ul>
                </div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">User Account</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit" class="btnLogin">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<div class="bgimg-1">
  <div class="caption">
  <span class="border">PITCHER</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Welcome to Pitcher</h3>
  <p>Pitcher is a simple application that will allow your team to operate more effectively 
      in hunting down application bugs without resorting to spread sheets and emailing 
      duplicate bug reports to each other. This application provides an effective login
      for your team to create users who can either function as administrators, who have
      their own jobs and job problems.
  </p>
  <br>
  <p>
      Standard users that the admin creates can create problems 
      about the project that admin has assigned them to do. Each job
      can have it's own chat feature that allows users assigned to 
      problem to clarify the problem's cause and what needs to be done.
  </p>
</div>

<div class="bgimg-2">
  <div class="caption">
  <span class="border">HOSTING IT</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Created to be lightwieght. You can host the front end on any OS whether via a paid hosting service or your own dedicated server.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
  <span class="border">FREE AND OPEN SOURCE</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
  <p>Made in Entity Framework Core and powered by ASP.NET Core MVC with a backend SQL Server database.</p>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
  <span class="border">CONTRIBUTING</span>
  </div>
</div>

    <div class="col-md-4">
        <h2>Got a problem with the software?</h2>
        <p>
            Contact me at jnash51@live.com 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Use it as a template</h2>
        <p>You can easily turn this application into another other web apps like a home asset management system or a repair notification system.</p>        
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can Download the completed project and it's releases from GitHub or contribute to it.</p>
        <p><a class="btn btn btn-primary" href="https://github.com/LayersOfAbstraction/Pitcher"> See the project source code &raquo;</a></p>        
    </div>
<div class="container">        
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <p style="color:blue">&copy; 2019 - Pitcher - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>    
