@model IEnumerable<Pitcher.Models.TeamViewModels.ProjectTotalsGroup>

@{
    ViewData["Title"] = "Project Statistics";
}

<h2>Job statistics</h2>

<table border="2" style="width:30%">
    <tr>
        <th>
            Job Name 
        </th>
        <th>
            Staff total
        </th>
        <th>
            @* Job Deadline *@
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobName)
            </td>
            <td>
                @item.UserCount
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.DeadlineDate) *@
            </td>
        </tr>
    }
</table>