@model Pitcher.Models.Result
@{
    ViewData["Title"] = "Results";
}   
<h1>Results</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="resultsTable" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts{ 
    <script>
        $.fn.dataTable.ext.errMode = 'throw';    
        function renderDT_RowId (data) 
        {                    
          return data.replace( 'row_', '' );
        };
        var oTable = $('#resultsTable').DataTable({
            "ajax": {
                type: "POST",
                "url": "@Url.Action("LeftJoinJobsAndProblemsOntoResults")",
                "dataSrc": function (result) {
                    return result.data;
                    }
            },
            "columns": [
                { "data": "tblJob.jobTitle"},
                { "data": "tblProblem.id"},     
                {
                    "data": null,
                    "render": function (value) {
                        return '<a href="/Results/Details/' + renderDT_RowId(value.dT_RowId) + '"button type="button" class="btn btn-primary btn-block">Details</a> <br> '
                            
                            + '<a href="/Results/Edit/' + renderDT_RowId(value.dT_RowId) + '"button type="button" class="btn btn-info btn-block">Edit </a> <br> ' 
                            
                            
                            + '<a href="/Results/Delete/' + renderDT_RowId(value.dT_RowId) + '"button type="button" class="btn btn-primary btn-block">Delete</a>';
                    }
                }
                ]
        });
    </script>
}